<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>pg1.svg</string>
	<string>pg2.svg</string>
	<string>pg3.svg</string>
	<string>pg4.svg</string>
	<string>pg4a.svg</string>
	<string>pg5.svg</string>
	<string>pg5a.svg</string>
	<string>pg6.svg</string>
	<string>pg7.svg</string>
	<string>pg8.svg</string>
	<string>pg9.svg</string>
	<string>pg10.svg</string>
	<string>pg11.svg</string>
	<string>pg11a.svg</string>
	<string>pg12.svg</string>
	<string>pg13.svg</string>
	<string>pg14.svg</string>
	<string>pg14a.svg</string>
	<string>pg15.svg</string>
</array>
</plist>
